
<%if @matches.length == 2%> 
<p>
<strong>There is one other record identical to this one.</strong>
</p>
<p>
The record with ID number <%=@matches.map{|match| match unless match == @comment.id}.compact%> matches this one.  
</p>
<%elsif @matches.length > 2%> 
<p>
<strong>There are <%=@matches.length-1%> other records that are identical to this one.</strong>
</p>
<p>
Records with ID numbers <%=@matches.map{|match| match unless match == @comment.id}.compact%> match this one.  
</p>
<%else%>
<p>
<strong>There are no other records that are identical to this one.</strong>
</p>

<%end%> 

Record text: 
<br>

<%=@comment.doc%>
