body {
   padding: 50px 0;
   font-size: 13px;
   font-family: "Open Sans";
   font-style: normal;
   font-weight: 400;
   background-image:url("/assets/2_small.jpg"); 
}

h1 {  
  font-family: "Montserrat";
  font-style: bold;
  font-size: 45px;
  text-align: center;
   }

table { 
   border-collapse: collapse;
}

th {
    text-align: center;
    
}

td {
  text-align: center;
}

div.commentBox {
  border-radius: 45px;
  background: #FFFFFF;
  width: 70%;
  margin: auto;
  padding: 10px 10px 10px 10px;
  border-style: solid;
  border-color: #ff0000 #0000ff;
}

div.commentList {
  background: #FFFFFF;
  width: 50%;
  margin: auto;
  line-height: 20px;
}

div.comment {
  width: 100%;
  margin: auto;
  line-height: 20px;
  border-bottom: 4px solid black;


}

form {
    margin-left: 22%;
    margin-right:25%;
    width: 50%;
    text-align: center;
    }

a:link {color: #000000;}

